﻿<!DOCTYPE html>
<html>
<head class="page-header">
    <meta charset="utf-8" />
    <meta lang="sv-se" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avalon Innovation - @ViewBag.Title</title>
   
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")


    <script src="~/Scripts/Site.js"></script>
 
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <div class="logo">
                    <img src="~/Content/Images/Whatsuplogo.png" onclick="location.href='@Url.Action("Index", "Home")'"/>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Avalon Innovation What's up", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  
                      @if (User.IsInRole("Admin"))
                      {
                           <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                           <li>@Html.ActionLink("Kontor", "Index", "Offices")</li>
                          
                      }


                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
      
            <div class="footer-left"><small>&copy;@DateTime.Now.Year - AvWU</small></div>
            <div class="footer-right"><small>@Html.ActionLink("Admin Portal", "Index", "Admin")</small></div>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
