﻿body {
    padding-top: 70px;
    padding-bottom: 20px;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    background-color: #435160;
    color: #ebebeb;
}

.table tbody > tr > td{
    vertical-align: middle;
    text-align:center;
}

th{
    text-align:center !important;
}

.editable img{
    display:block;
    margin:auto;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar-inverse .navbar-collapse {
    background-color: #2e3e4e;
}


.navbar {
    background-color: #2e3e4e;
    height: 60px;
    font-size: 18px;
    padding-top: 12px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ebebeb;
}

.navbar navbar-inverse navbar-fixed-top {
    background-color: #435160;
    margin: 0px;
    padding: 0px;
}

.navbar-inverse {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle {
     margin-top: 0px;
     border-color: transparent;
}

.navbar-inverse .navbar-toggle:hover {
     background-color: transparent;
}

.logo {
    float: left;
    cursor: pointer;
}

.search-form
{
    float:right;
    margin:20px auto;
  
}
.search-form .form-control{
    display:inline-block;
    width:inherit;
}



.body-content {
    margin: auto;
    padding: 0 15px;
}

.navbar,
form-group,
col-md-offset-2 col-md-10,
btn btn-default {
    font-size: 18px;
    padding-top: 12px;
}


.btn-True {
    background-color: #E3522B;
    color:#ebebeb;
}

.btn-False {
    background-color:#61A1C6;
    color:#ebebeb;
}
.quickedit-info{
    display:none;

}
.edit-row{
    display:none;
    background-color:#2E3E4E;
    
}
.edit-row img{
    cursor:pointer;
    display:inline;
    padding-right:15px;
    
}
.edit-row input{
    width:45%;
}

.edit-row .btn-add{
    
    padding:15px 0;
    
}


.quickadd-info{

    display:none;
}

footer {
    position: fixed;
    height: 35px;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: #2e3e4e;
    line-height: 35px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    color: #ebebeb;
    font-weight: 100;
    padding: 0 5px;
}

.footer-left {
    width: 50%;
    float: left;
    text-align: left;
}

.footer-right {
    width: 50%;
    float: left;
    text-align: right;
}

@media (max-width: 371px) {
    .search-form .search-button{
       margin-top:10px;
     
       
    }
   
}

@media (max-width: 479px) {
    .secundario{
       display:none;
       
    }
   
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 0px;
    }
    .edit-row{
    display:block;
}
     
}
