﻿
@{
    ViewBag.Title = "Index";
}

<h2>Admin Portalen</h2>

Här kan du lägga till, redigera eller ta bort kontoren och skapa nya administratörer.
<hr />
<div class="row">

    <div class="col-md-6">
        <h4>Välj Användare</h4>
        @using (Html.BeginForm("CreateAdmin", "Admin", FormMethod.Get))
        {

            <div>

                @Html.DropDownList("userName", null, htmlAttributes: new { @class = "form-control" })
                <br />
               
                <input type="submit" class="btn btn-success" value="Skapa Admin »" />
            </div>
               
              <small>*Rollen aktiveras vid nästa inloggning av valde användaren!</small>

        }
    </div>

    <div class="col-md-6">
        <h4>Admin List</h4>
        <table>


            @foreach (var admin in (ViewBag.Admins as List<Whatsup.Models.ApplicationUser>))
            {
                <tr>
                    <td>@admin.UserName</td>
                    <td>@Html.ActionLink("Ta bort rollen", "DeleteAdmin", new { id = admin.Id })</td>
                </tr>
            }
        </table>

    </div>

</div>

