﻿    @using Microsoft.AspNet.Identity

    @using Microsoft.Owin.Security


    @{
        ViewBag.Title = "Home Page";
    }

<div>
    <h4>Välj Kontor</h4>
        @using (Html.BeginForm("Whatsup", "Home", FormMethod.Get))
        {

            <div>

                @Html.DropDownList("officeName", null, htmlAttributes: new { @class = "form-control" })

                <br />

                <input type="submit" class="btn btn-success" value="Visa»" />
            </div>


        }

</div>

 