﻿@model IEnumerable<Whatsup.Models.Mission> 
@{
    ViewBag.Title = "What's up";
 }

<div>

    <div class="search-form">

        @using (Html.BeginForm("Whatsup", "Home", FormMethod.Get))
        {

            <div>
                <input type="hidden" name="officeName" value='@ViewBag.officeName' />
                @Html.TextBox("s", null, htmlAttributes: new { @class = "form-control" })
                @Html.DropDownList("c", null, htmlAttributes: new { @class = "form-control" })

                <input type="submit" class="btn btn-success search-button" value="Sök »" />
            </div>


        } 

    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th style="cursor:pointer" onclick="location.href='@Url.Action("Whatsup", "Home", new { officeName=@ViewBag.officeName})'">På kontoret?</th>
                <th>Namn</th>
                <th>Vilken kund?</th>
                @*<th class="secundario">Stad</th>*@
                <th class="secundario">Uppdrag t.o.m.</th>
                
                @if (User.Identity.IsAuthenticated) { 
                <th class="edit-row">Redigera</th>
                }
            </tr>
        </thead>

      @if (Model.Count() != 0)
       {
          foreach (var mission in Model)
          {
              using (Html.BeginForm("QuickEdit", "Home", FormMethod.Post))
              {

                <tr>
                    <td class="prio">
                    <input type="hidden" name="id" value=@mission.Id />
                    <input type="button" class="btn-block btn-@mission.AtOffice.ToString()" onclick="location.href = '@Url.Action("CheckInOrOut", new { id = mission.Id })'" />
                    </td>

                    <td class="prio">
                    @mission.Employee
                    </td>

                    <td class="prio">
                    <span class="mission-info editable">@mission.Customer </span><input type="text" name="customer" value='@mission.Customer' class="form-control quickedit-info text">
                    </td>     
                                 
                    <td class="secundario">
                        <span class="mission-info editable">
                            @mission.EndDate.Date.ToShortDateString()
                        </span>
                    <input type="date" name="enddate" value=@mission.EndDate class="form-control quickedit-info">
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        
                   
                    <td class="edit-row">
                        <div class="editable">

                        <img class="btn-quickedit" title="Redigera" src="/Content/Images/pencil43.png" />
                     
                              @if (User.IsInRole("Admin")) 
                              {
                                   
                                 <img id="btn-remove" title="Ta bort" src="/Content/Images/rounded56.png" onclick="location.href='@Url.Action("QuickDelete", "Home", new { id = @mission.Id })'" />
                              }
                         </div>
                        <input type="submit" value="Spara" class="btn-success quickedit-info"/>
                        <input type="button" value="Avbryt" class="btn-danger quickedit-info btn-cancel" />
                    </td>
                    }
                </tr>

              }
          }


      }
      else
      {

        <tr><td>Inga uppdrag hittades!</td></tr>

      }
      @if (User.IsInRole("Admin"))
      { 
          using (Html.BeginForm("QuickAdd", "Home", FormMethod.Post))
          {
        <tr>
            <td class="add-employee"><input type="hidden" name="officeName" value='@ViewBag.officeName' /></td>
            <td class="add-employee"><input type="text" name="employee" value='' class="form-control quickadd-info text"></td>
            <td class="add-employee"><input type="text" name="customer" value='' class="form-control quickadd-info text"></td>
            <td class="add-employee"><input type="date" name="enddate" value=@DateTime.Now class="form-control quickadd-info"></td>
            <td class="edit-row"><img class="btn-add" title="Lägg till" src="/Content/Images/add182.png" /><input type="submit" value="Lägg till" class="btn-success quickadd-info" /><input type="button" value="Avbryt" class="btn-danger quickadd-info btn-cancel" /></td>
        </tr>
           }
      }
    </table>
   


  
</div>

 
  


