﻿@model Whatsup.Models.Office

@{
    ViewBag.Title = "Ta bort";
}

<h2>Ta bort</h2>

<h3>Är du säker på att du vill ta bort kontoret?</h3>
<div>
    <h4>Kontor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfficeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka»", "Index")
        </div>
    }
</div>
